section.archive {
    .inside {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .item_archive {
        width: 220px;
        margin: 5px;
        display: flex;
        align-items: flex-start;
        color: white;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        margin-bottom: 10px;
        border-bottom: 1px dashed #999;

        .title {
            .categ {
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 3px solid white;
                border-radius: 30px;
                margin: 5px;
                margin-left: 0;
            }

            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 1.15em;
            background-color: #3a3a3a;
            font-family: 'Inconsolata', monospace;
            padding-top: 5px;
            padding-bottom: 5px;
            position: absolute;
            z-index: 1;
            width: 100%;
            opacity: 1;
            bottom: 0;
            transition: all 0.25s ease;
            color: #999;

            .txt_crop {
                width: calc(100% - 70px);
                height: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .img {
            width: 220px;
            height: 220px;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
        }

        &:hover {
            &:after {
                background: rgba(0,0,0,0.7);
            }
            .title {
                bottom: 50%;
                transform: translate(0, 50%);
                color: white;

                .txt_crop {
                    width: calc(100% - 70px);
                    height: auto;
                    text-overflow: ellipsis;
                    overflow: visible;
                    white-space: nowrap;
                }
            }
        }

        &.info {
            &:after {
                display: none;
            }
        }

        @media all and (max-width: 900px) {
            width: calc(50% - 10px);
        }
    }

    &.front {
        padding-top: 10vh;
        display: flex;
        flex-wrap: wrap;

        .item_archive {
            width: 200px;

            .img {
                width: 100%;
                height: 200px;
            }
        }
    }

    .moreRest {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQYV2NkQAP/////z4gsBhYAAZggTADEBwsiC4AF0QVAggAaRhQC9fJaWAAAAABJRU5ErkJggg==);
        position: relative;
        border: none;
        min-height: 220px;

        &:after {
            display: none;
        }

        .loader {
            display: none;
            transform: translate(-50%, -50%) scale(0.6);
        }

        .icon {
            position: absolute;
            width: 70px;
            height: 70px;
            background: #171717;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100px;
            font-size: 2em;

            &:after {
                content: '\E802';
                color: white;
                width: 100%;
                line-height: 70px;
                text-align: center;
                font-family: 'icons';
                position: absolute;
            }
        }

        &.active {
            .loader {
                display: block;
            }

            .icon {
                display: none;
            }
        }
    }
}

#carrousel {
    height: calc(50vh + 40px);
    margin-top: 10vh;
    overflow: hidden;
    padding: 20px;
    outline: none;
    background: #303030;

    .item {
        height: 50vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
}