article.single {
    display: flex;
    width: 100%;

    .left {
        width: 50%;
        transition: all 0.5s ease;

        .img {
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;

            .size {
                position: absolute;
                width: 40px;
                height: 80px;
                top: -30px;
                right: -10px;
                background: rgba(23, 23, 23, 0.6);
                transform: rotate(-45deg);
                cursor: pointer;
                display: none;
                transition: all 0.25s ease;

                &:before {
                    content: '\E802';
                    font-family: 'icons';
                    color: white;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    font-size: 2em;
                    transform: translate(0, -50%);
                }

                &:hover {
                    background: rgba(23, 23, 23, 1);
                }
            }

            @media all and (min-width: 900px) {
                &:hover {
                    .size {
                        display: block;
                    }
                }
            }
        }

        &.wide {
            width: 90%;

            .img {
                .size {
                    display: block;

                    &:before {
                        content: '\E803';
                        text-indent: -10px;
                    }
                }
            }
        }
    }

    .right {
        width: 50%;
        color: white;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
            font-size: 3em;
        }

        .categ_name {
            &.convocatorias {
                background: #d66bd8;
            }

            &.laboratorio {
                background: #f1e340;
            }
        }

        .categ_name,
        .fecha {
            font-family: 'Inconsolata', monospace;
            background: white;
            color: black;
            text-transform: lowercase;
            display: inline-block;
            margin-right: 5px;
            padding: 3px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 1.25em;
        }

        .content {
            font-size: 1.5em;

            p,
            ul,
            ol {
                max-width: 500px;
            }

            a {
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQYV2NkQAMSYhL/GZHFQAIvXr1ghAvCBECKwILIAmBBdAGQIAAClhFLTvxVgAAAAABJRU5ErkJggg==);
                background-color: white;
                color: black;
                padding-left: 10px;
                padding-right: 10px;

                &:hover {
                    background-image: none;
                }
            }
        }

        .nav {
            max-width: 500px;
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            height: 100px;
            align-items: center;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQYV2NkQAP/////z4gsBhYAAZggTADEBwsiC4AF0QVAggAaRhQC9fJaWAAAAABJRU5ErkJggg==);

            .item {
                color: white;
                background: black;
                width: 100%;
                font-size: 1.25em;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                margin: 2px;
                font-family: 'Inconsolata', monospace;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }


    }

    @media all and (max-width: 900px) {
        flex-wrap: wrap;

        .left,
        .right {
            width: 100%;
            padding: 0;
        }
    }
}

#franjaTexto {
    margin: 5px;
    height: 30px;
    background: #000;
    overflow: hidden;
    position: relative;
    border: 1px solid white;

    p {
        color: white;
        position: absolute;
        width: 600px;
        margin: 0;
        line-height: 30px;
        font-family: 'Inconsolata', monospace;
    }
}